.wrapper {
    margin: 0 1.5rem 0.4rem 1.5rem;
    height: 75vh;
    overflow: auto;

    .card {
        display: grid;
        grid-template-columns: 1fr  2fr 1fr 0.8fr 1fr;
        align-items: center;
        text-align: center;

        select {
            appearance: none;
            background-color: #2F014B;
            color: blueviolet;

            &::-ms-expand {
                display: none;
            }
        }

        option {
            background-color: #FFFFFF;
        }
    }
}
