<div class="wrapper">
    <div class="titleText">ИСТОРИЯ</div>
    <div class="contentWrapper">
        <div *ngFor="let card of events" class="ordr">
            <div class="img"><img src="{{card.photo}}" alt="card photo"></div>
            <div class="content">
                <div class="valueContent valueContent__leftSide">
                    <div class="valueTextInformation valueTextInformation__title">
                        {{card.title}}
                    </div>

                    <div class="valueTextInformation valueTextInformation__IBought"
                         *ngIf="card.type === 'IBoughtProduct'">
                        <div class="size" *ngIf="(card | castType: 'IBoughtProduct').size !== 0">
                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 1">
                                Размер: <span class="borderElement">XS</span>
                            </div>
                            <div *ngIf="(card | castType: 'IBoughtProduct').size=== 2">
                                Размер: <span class="borderElement">S</span>
                            </div>
                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 3">
                                Размер: <span class="borderElement">M</span>
                            </div>
                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 4">
                                Размер: <span class="borderElement">L</span>
                            </div>
                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 5">
                                Размер: <span class="borderElement">XL</span>
                            </div>
                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 6">
                                Размер: <span class="borderElement">XXL</span>
                            </div>
                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 7">
                                Размер: <span class="borderElement">XXXL</span>
                            </div>
                        </div>
                        <div class="amount">
                            Количество: <span
                            class="borderElement">{{(card | castType: 'IBoughtProduct').amount}}</span>
                        </div>
                    </div>
                    <div class="valueTextInformation valueTextInformation__Request"
                         *ngIf="card.type === 'IAcceptedRequest'">
                        <div class="comment">{{(card | castType: 'IAcceptedRequest').comment}}</div>
                        <div class="description" *ngIf="(card | castType: 'IAcceptedRequest').description">
                            <div class="better">
                                Комментарий: {{(card | castType: 'IAcceptedRequest')?.description}}
                            </div>
                        </div>
                    </div>
                    <div class="valueTextInformation valueTextInformation__Request"
                         *ngIf="card.type === 'IRejectedRequest'">
                        <div class="comment">{{(card | castType: 'IRejectedRequest').comment}}</div>
                        <div class="description">
                            <div class="better">
                                Комментарий: {{(card | castType: 'IAcceptedRequest')?.description}}
                            </div>
                        </div>
                    </div>

                    <div class="valueTextInformation valueTextInformation__Request"
                         *ngIf="card.type === 'IReceivedGift'">
                        <div class="description">
                            <div class="better">
                                Комментарий: {{(card | castType: 'IReceivedGift').comment}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="valueContent valueContent__rightSide">
                    <div class="informationFlex">
                        <div class="data">{{card.date | date : 'dd.MM.yyyy'}}</div>
                        <div class="coinsWrapper" *ngIf="card.type === 'IAcceptedRequest'">
                            <ul class="coins coins__green">
                                <li class="wrapper_num">
                                    + {{(card | castType: 'IAcceptedRequest').price}}
                                </li>
                                <li>
                                    <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                         alt="greenBlockCoins">
                                </li>
                            </ul>
                        </div>
                        <div class="coinsWrapper" *ngIf="card.type === 'IReceivedGift'">
                            <ul class="coins coins__green">
                                <li class="wrapper_num">
                                    + {{(card | castType: 'IReceivedGift').price}}
                                </li>
                                <li>
                                    <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                         alt="greenBlockCoins">
                                </li>
                            </ul>
                        </div>
                        <div class="coinsWrapper" *ngIf="card.type === 'IBoughtProduct'">
                            <ul class="coins coins__black">
                                <li class="wrapper_num">
                                    - {{(card | castType: 'IBoughtProduct').price | castTypeNumber}}
                                </li>
                                <li>
                                    <img src="../../../../assets/images-main-page/blackCoins.svg"
                                         alt="black">
                                </li>
                            </ul>
                        </div>
                        <div class="coinsWrapper" *ngIf="card.type === 'ISentGift'">
                            <ul class="coins coins__black">
                                <li class="wrapper_num">
                                    - {{(card | castType: 'ISentGift').price | castTypeNumber}}
                                </li>
                                <li>
                                    <img src="../../../../assets/images-main-page/blackCoins.svg"
                                         alt="black">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
