@import "../../../../usedCSS/historyPerson";

.wrapper-personal-history {
    height: 100%;
    font-family: "Roboto Medium", sans-serif;
    margin: 1.8rem;

    .titleText {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .contentWrapper::-webkit-scrollbar {
        width: 0;
    }
}
