<div class="wrapper">
    <button class="button_value" routerLink="./all-orders" routerLinkActive="active-link">
        ВСЕ ЗАКАЗЫ
    </button>
    <button class="button_value" routerLink="./new-orders" routerLinkActive="active-link">
        НОВЫЕ
    </button>
    <button class="button_value" routerLink="./processing-orders" routerLinkActive="active-link">
        ВЫДАНО
    </button>
</div>
<div class="denominations">
    <div class="value">статус</div>
    <div class="value">наименование</div>
    <div class="value">количество</div>
    <div class="value">получатель</div>
    <div class="value">дата создания</div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
.
