<div class="wrapper">
    <img src="../../../assets/images/legRightOct.svg" alt="right leg of an octopus" class="decor right_leg">
    <img src="../../../assets/images/leftLegOctupus.svg" alt="left leg of an octopus" class="decor left_leg">
    <div class="content">
        <img src="../../../assets/images/logoUDVstore.svg" alt="logo UDVstor">
        <div class="form_auth">
            <form [formGroup]="login"
                  (ngSubmit)="onSubmit()">
                <div class="fieldRegistration">
                    <div class="value">
                        <label for="email">КОРПОРАТИВНАЯ ПОЧТА</label>
                        <div class="input">
                            <input id="email"
                                   type="text"
                                   formControlName="email"
                                   tabindex="1"
                                   class="form__input"
                            />
                            <div class="form__input done__email">@ussc.ru</div>
                        </div>
                    </div>
                    <div class="value password__label">
                        <label for="password">ПАРОЛЬ</label>
                        <div class="input">
                            <input id="password"
                                   type="password"
                                   formControlName="password"
                                   class="form__input password__input"
                                   #password
                            />
                        </div>
                        <div class="password__btn"><img #btn src="../../../assets/images/closeEye.svg" class="password-control" alt="c"></div>
                    </div>
                </div>
                <nav>
                    <button type="submit" class="btn" [disabled]="login.invalid">
                        ВОЙТИ
                    </button>
                </nav>
            </form>
        </div>
    </div>
</div>
kdfjdjjdklj

