[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.12"
django-environ = "==0.8.1"
flake8 = "*"
isort = "==5.10.1"
black = "==22.1.0"
psycopg2-binary = "==2.9.3"
psycopg2 = "==2.9.3"
djangorestframework = "==3.13.1"
markdown = "*"
django-filter = "==21.1"
pillow = "==9.0.1"

[dev-packages]

[requires]
python_version = "3.10"
