
.wrapper {
    background-color: #302E2E;
    position: relative;
    min-height: calc(100vh - 4.7rem);

    .left_leg {
        position: absolute;
        height: 87vh;
        left: 0;
        bottom: 0;
    }

    .right_leg {
        position: absolute;
        height: 35vh;
        right: 0;
        bottom: 0;
    }

    .grid {
        padding-top: 1rem;
        max-width: 63%;
        margin: 0 auto;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 29% auto;
        height: 100%;

        .value_grid {
            background-color: #F7F7F7;
            border-radius: 0.1em;
            height: 100%;

            &__account {
                height: 40vh;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }

            &__content{
                min-height: 88vh;
                background-color: #FFFFFF;
            }

            .content_item {
                align-items: center;
                justify-content: center;
                margin: 1.8rem;

                .figure img {
                    margin: 0 auto;
                    display: block;
                    height: 5.5em;
                }

                .nav {
                    margin-top: 1.4em;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .button_value {
                        z-index: 2;
                        width: 90%;
                        background-color: #F7F7F7;
                        color: #797979;
                        margin: 0.1em auto;
                        font-size: 1.1em;
                        line-height: 1.2em;
                        padding: 0.4em 0;
                        font-weight: 500;
                    }


                    .button_value:first-child {
                        margin-top: 0;
                    }

                    .active-link {
                        width: 100%;
                        background-color: #2CF2B3;
                        color: #1C1B1B;
                    }
                }
            }
        }
    }
}
