<div class="wrapper">
    <div class="text__explanatory text">
        <div class="title">НАЧИСЛЕНИЕ UCoins</div>
        <div class="field">
            Здесь вы можете отправить запрос на начисление UCoins. Ответ на запрос можно будет посмотреть в истории.
        </div>
    </div>

    <div class="text__content text">
        <div class="title">АКТИВНОСТЬ</div>
        <div class="field">
            <input type="text"
                   [formControl]="inputControl">
            <div class="send">
                <button class="button" [disabled]="inputControl.invalid">ОТПРАВИТЬ ЗАПРОС</button>
                <div class="attachFile">
                    <label class="label">
                        <i class="material-icons"><img src="../../../../assets/images-personal-area/clip.svg"
                                                       alt="clip"></i>
                        <input type="file" multiple>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
