<div class="wrapper">
    <div class="text__explanatory text">
        <div class="title">НАЧИСЛЕНИЕ UCoins</div>
        <div class="field">
            Здесь вы можете отправить запрос на начисление UCoins. Ответ на запрос можно будет посмотреть в истории.
        </div>
    </div>

    <div class="text__content text">
        <div class="title">АКТИВНОСТЬ</div>
        <div class="field">
            <input type="text"
                   [formControl]="inputControl">

            <div class="file-label-container">
                <div *ngFor="let file of _fileManager.getFileNames()" class="file-label">
                    <a href="{{ file }}">
                        {{ getFilename(file) }}
                    </a>
                    <img class="file-close"
                         src="/assets/images-personal-area/cross-rounded.svg"
                         (click)="removeFile(file)">
                </div>
            </div>

            <div class="send">
                <button class="button" [disabled]="inputControl.invalid" (click)="onSubmit()">ОТПРАВИТЬ ЗАПРОС</button>
                <div class="attachFile">
                    <label class="label">
                        <i class="material-icons"><img src="../../../../assets/images-personal-area/clip.svg"
                                                       alt="clip"></i>
                        <input type="file" multiple id="file-selector" (change)="onFilesSelected($event)">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-wrapper" id="success-message">
        <div class="model" (click)="closeModel()">
            <div class="modelBody" (click)="handleClick($event)">
                <button><img src="../../../../assets/images-admin/crossPopUp.svg" alt="cross" (click)="closeModel()">
                </button>
                <div class="text">ЗАПРОС ОТПРАВЛЕН</div>
            </div>
        </div>
        <div class="modelBackground"></div>
    </div>
</div>
