<div class="wrapper">
    <div class="banner">
        <img src="../../../../assets/images-main-page/banner.svg" alt="banner">
    </div>
    <div class="wrapper_load">
        <skeletone class="loading" *ngIf="!loaded"></skeletone>
    </div>
    <div class="content" *ngIf="loaded">
        <div class="wrapperGrid">
            <div class="contentGrid" *ngFor="let item  of storeProducts">
                <div class="content_image"><img src="{{item?.photo }}" alt="product image"></div>
                <div class="cardFilling">
                    <div class="text">{{item?.name | uppercase}}</div>
                    <div class="price">
                        <button (click)="openModel('modal1', item)">
                            <ul class="coins">
                                <li class="wrapper_num">
                                    {{item?.price}}
                                </li>
                                <li>
                                    <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                         alt="greenBlockCoins">
                                </li>
                            </ul>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-wrapper" id="modal1">
        <div class="model">
            <div class="modelBody">
                <div class="mainTitle">
                    <div class="text">КУПИТЬ В ОДИН КЛИК</div>
                    <button><img src="../../../../assets/images-main-page/cross.svg" class="crossImg" alt="cross"
                                 (click)="closeModel('modal1')">
                    </button>
                </div>
                <div class="contentModel">
                    <div class="value value__img">
                        <img src='{{selectedProduct?.photo}}' class="imgProduct" alt="imgProduct">
                    </div>
                    <div class="value value__text">
                        <div class="description description__product">
                            <div class="stroke stroke__name">{{selectedProduct?.name}}</div>
                            <div class="stroke stroke__coins">
                                <div class="coinsWrapper">
                                    <ul class="coins">
                                        <li class="wrapper_num">
                                            {{selectedProduct?.price}}
                                        </li>
                                        <li>
                                            <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                                 alt="greenBlockCoins">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="stroke stroke__size" *ngIf="selectedProduct?.name === 'Толстовка'">
                                <div class="elementSize"><button (click)="changeSize($event,1)">XS</button></div>
                                <div class="elementSize"><button (click)="changeSize($event,2)">S</button></div>
                                <div class="elementSize"><button (click)="changeSize($event,3)">M</button></div>
                                <div class="elementSize"><button (click)="changeSize($event,4)">L</button></div>
                                <div class="elementSize"><button (click)="changeSize($event,5)">XL</button></div>
                            </div>
                        </div>
                        <div class="description description__amountProduct">
                            <div class="valueAmountProduct">
                                <button (click)="reduceAmount()"><img class="mark mark__minus"
                                                                      src="../../../../assets/images-main-page/minus.svg"
                                                                      alt="minus"></button>
                            </div>
                            <div class="valueAmountProduct valueAmountProduct__number">{{amountMerch}}</div>
                            <div class="valueAmountProduct">
                                <button (click)="increaseAmount()"><img class="mark mark__plus"
                                                                        src="../../../../assets/images-main-page/plus.svg"
                                                                        alt="plus"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn">
                    <button (click)="onSubmit()" class="button"
                            [disabled]="amountMerch*priceMerchValue > user.balance">
                        ОПЛАТИТЬ
                    </button>
                    <div class="helper-text">
                        <span
                            *ngIf="amountMerch*priceMerchValue > user.balance">*На вашем счёте недостаточно средств</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modelBackground"></div>
    </div>
</div>
