@import "../../../../../usedCSS/model-popUp";

.req-container {
  margin: 0.5em;
  padding: 1em;
  background-color: #F5F5F5;

  .req-header {
    width: 100%;
    height: 2.5rem;

    .req-avatar {
      width: 2.5rem;
      height: 2.5rem;
      background-color: #2CF2B3;
      border-radius: 30px;

      object-fit: cover;
    }

    .req-name {
      font-family: "Roboto Black", sans-serif;

      width: 50%;
      //height: 100%;
      display: inline-block;

      position: relative;
      top: 50%;
      transform: translate(0, -50%);

      margin-left: 0.6rem;
    }
  }

  .req-description {
      font-family: "Roboto Medium", sans-serif;

    background-color: white;
    border-radius: 17.5px;
    margin: 0 0 0 3rem;
    padding: 0.8em 1.2em;
    font-size: 0.75em;
    letter-spacing: 0.05em;

    display: inline-block;
  }

  .file-label-container {
    margin: 0.25rem 0 0 3rem;

    .file-label {
      font-size: 0.8em;
      text-decoration: underline;
      border: 1px solid black;
      display: inline-block;
      padding: 0.25rem 1em;
      margin: 0.25em 0.25em 0 0;
      border-radius: 3em;
      background-color: white;

      a {
        color: black;
      }
    }
  }

  .reg-buttons {
    margin: 1rem 0 0 3rem;
    width: 70%;

    .reg-button {
      width: calc(50% - 6px);
      padding: 0.2em 0;
      letter-spacing: 0.05em;
      box-sizing: border-box;
      margin: 3px;
      border: 2px solid #2CF2B3;
    }

    .reg-accept {
      background-color: #2CF2B3;
    }

    .reg-reject {

    }
  }
}

