<div class="req-container">

    <div class="req-header">

        <img *ngIf="data.photoUrl;else placeholder" class="req-avatar" src="{{ data.photoUrl }}"/>
        <ng-template #placeholder>
            <img class="req-avatar" src="/assets/images-main-page/account.svg"/>
        </ng-template>

        <div class="req-name">{{ data.name }}</div>

    </div>

    <div *ngIf="data.description" class="req-description">{{ data.description }}</div>

    <div class="file-label-container" *ngIf="data.filenames.length > 0">
        <div class="file-label" *ngFor="let file of data.filenames">
            {{ file }}
        </div>
    </div>

    <div class="reg-buttons">
        <button class="button-accept">НАЧИСЛИТЬ</button>
        <button class="button-reject">ОТКЛОНИТЬ</button>
    </div>

</div>
