.req-container {
  margin: 0.5em;
  padding: 1em;
  background-color: #F5F5F5;

  .req-header {
    width: 100%;

    .req-avatar {
      width: 2rem;
      height: 2rem;
      background-color: #2CF2B3;
      border-radius: 30px;
    }

    .req-name {
      font-family: "Roboto Black", sans-serif;

      width: 50%;
      height: 30px;
      display: inline-block;
      transform: translate(0%, 25%);

      margin-left: 1.2rem;
    }
  }

  .req-description {
    font-family: "Roboto Light", sans-serif;

    background-color: white;
    border-radius: 17.5px;
    margin: 0.25rem 0 0 2.5rem;
    padding: 0.5em 1em;
    font-size: 0.75em;
    letter-spacing: 0.05em;
  }

  .file-label {
    border: 1px solid black;
    display: inline;
  }

  .reg-buttons {
    margin: 0.5rem 0 0 2.5rem;
    width: calc(100% - 3rem);

    .reg-button {
      width: calc(50% - 6px);
      padding: 0.2em 0;
      letter-spacing: 0.05em;
      box-sizing: border-box;
      margin: 3px;
    }

    .reg-accept {
      background-color: #2CF2B3;
    }

    .reg-reject {
      border: 2px solid #2CF2B3;
    }
  }
}

