@import "../../../../usedCSS/fieldFindUser";
@import '../../../../../node_modules/@taiga-ui/core/styles/taiga-ui-local';
@import "../../../../usedCSS/model-popUp";
@import "../../../../usedCSS/historyPerson";


.wrapper {
    margin: 2rem;
    height: calc(100vh - 4rem - 5rem);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.template {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0 0.2em;
}

.control {
    opacity: 0.7;
}

.button {
    padding: 0.2em 0;
    letter-spacing: 0.05em;

    &[disabled] {
        background-color: #B5FCE5;
        color: #888888;
    }
}

.modelBody {
    background-color: #E8E8E8;
    color: #282829;
    border-radius: 1.7rem;
    margin-left: 50%;
    margin-top: 4.8rem;
    width: 18rem;
    height: 3.6rem;

    .text {
        font-family: "Roboto Medium", sans-serif;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-align: center;
    }

    button {
        align-items: end;
        background-color: #E8E8E8;
        padding-top: 0.75em;
        margin-right: 1.4rem;
        margin-left: auto;
        display: block;
        height: 1.4em;

        img {
            height: 0.6em;
        }
    }
}

.card {
    margin: 0.5rem 0;
    position: relative;

    .selectedEmployee {
        &__photo {
            position: absolute;
            left: 0;

            .account {
                background-color: #1C1B1B;
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                object-fit: cover;
            }
        }

        &__name {
            height: 2.2rem;
            margin-left: 1rem;
            width: 98%;
            border-radius: 1.5rem;
            background-color: #F4F4F4;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2em 0.7em 0.2em 2em;

            .name {
                color: #1C1B1B;
                letter-spacing: -0.045em;
                font-weight: 500;
            }
        }
    }
}

.historyCards {
    overflow: hidden;

    .contentWrapper{
        background-color: #F4F4F4;
        padding: 0.8rem 1.5rem;
        max-height: calc(8rem * 3);
        font-family: "Roboto Medium", sans-serif;
        &::-webkit-scrollbar {
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #C4C4C4;
            border-radius: 2.5rem;
        }
    }

}

.buttonClick{
    background: none ;
}


