<div class="wrapper">
    <form [formGroup]="writePers"
          (ngSubmit)="onSubmit()">
        <div class="value">
            <div class="title" id="history">СОТРУДНИК</div>
            <div class="content">
                <tui-multi-select
                    *tuiLet="items$ | async as items"
                    #component
                    tuiTextfieldExampleText="Фамилия Имя Отчество"
                    class="control inputField inputField__name"
                    [tuiTextfieldLabelOutside]="true"
                    [expandable]="true"
                    formControlName="employee"
                    [tuiDropdownMaxHeight]="180"
                    (searchChange)="onSearchChange($event)"
                    tuiTextfieldSize="s"
                >Фамилия Имя Отчество
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="items | tuiHideSelected : component "
                        [itemContent]="itemContent"
                    ></tui-data-list-wrapper>
                </tui-multi-select>

                <ng-template
                    #itemContent
                    let-data
                >
                    <div class="template">
                        <tui-avatar
                            size="xs"
                            class="avatar"
                            [avatarUrl]="data.photo"
                            [text]="data.toString()"
                        ></tui-avatar>
                        {{data}}
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="value">
            <div class="title">АКТИВНОСТЬ</div>
            <div class="content">
                <tui-combo-box
                    formControlName="activity"
                    [stringify]="stringify"
                    (input)="makeOwnDescriptionActivity($event)"
                >

                    <tui-data-list *tuiDataList>
                        <button
                            *ngFor="let item of activities | tuiFilterByInputWith : stringify"
                            tuiOption
                            [value]="item"
                            (click)="changeNumberCoins(item)"
                        >
                            {{item.description}}
                        </button>
                    </tui-data-list>
                </tui-combo-box>
            </div>
        </div>
        <div class="value">
            <div class="title title__coins">UCoins <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                                        alt="greenBlockCoins"></div>
            <div class="content">
                <input type="number"
                       placeholder="Количество койнов "
                       class="inputField"
                       formControlName="coins"
                       #inputAccrualCoins

                       [attr.disabled]="disabledInputCoins"
                >
            </div>
        </div>
        <div class="value">
            <button type="submit"
                    class="btn"
                    [disabled]="writePers.value.coins === null  || writePers.value.activity === null "
                    (click)="openModel()"
            >
                НАЧИСЛИТЬ
            </button>
        </div>
    </form>
    <div class="modal-wrapper" id="modal-1">
        <div class="model" (click)="closeModel()">
            <div class="modelBody" (click)="handleClick($event)">
                <button><img src="../../../../assets/images-admin/crossPopUp.svg" alt="cross" (click)="closeModel()">
                </button>
                <div class="text">UCoins НАЧИСЛЕНЫ!</div>
            </div>
        </div>
        <div class="modelBackground"></div>
    </div>
    <div class="value">
        <div class="title">ИСТОРИЯ</div>
        <div class="content">Разверните карточку, чтобы увидеть историю сотрудника</div>
        <div class="wrapperCard">
            <div *ngFor="let persona of writePers.controls['employee'].value" class="card">
                <div class="selectedEmployee selectedEmployee__photo" *ngIf="persona?.photo === null">
                    <img src="../../../../assets/images-main-page/account.svg" alt="avatar" class="account">
                </div>
                <div class="selectedEmployee selectedEmployee__photo" *ngIf="persona?.photo !== null">
                    <img src="{{persona?.photo}}" alt="avatar" class="account">
                </div>
                <div class="selectedEmployee selectedEmployee__name">
                    <div class="name">
                        {{persona?.last_name}} {{persona?.first_name}} {{persona?.patronymic}}
                    </div>
                    <button class="buttonClick">
                        <div class="click" (click)="openHistory(persona)">
                            <img src="../../../../assets/images-admin/expandArrow.svg" alt="expand Arrow">
                        </div>
                    </button>
                </div>


                <div *ngIf="click && pers === persona" class="historyCards">
                    <div class="contentWrapper">
                        <div *ngFor="let card of events" class="ordr">
                            <div class="img"><img src="{{card.photo}}" alt="card photo"></div>
                            <div class="content">
                                <div class="valueContent valueContent__leftSide">
                                    <div class="valueTextInformation valueTextInformation__title"
                                         *ngIf="card.type !== 'IDeposit'">
                                        {{card.title}}
                                    </div>
                                    <div class="valueTextInformation valueTextInformation__title"
                                         *ngIf="card.type === 'IDeposit'">
                                        {{card.title}} начисление
                                    </div>

                                    <div class="valueTextInformation valueTextInformation__IBought"
                                         *ngIf="card.type === 'IBoughtProduct'">
                                        <div class="size" *ngIf="(card | castType: 'IBoughtProduct').size !== 0">
                                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 1">
                                                Размер: <span class="borderElement">XS</span>
                                            </div>
                                            <div *ngIf="(card | castType: 'IBoughtProduct').size=== 2">
                                                Размер: <span class="borderElement">S</span>
                                            </div>
                                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 3">
                                                Размер: <span class="borderElement">M</span>
                                            </div>
                                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 4">
                                                Размер: <span class="borderElement">L</span>
                                            </div>
                                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 5">
                                                Размер: <span class="borderElement">XL</span>
                                            </div>
                                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 6">
                                                Размер: <span class="borderElement">XXL</span>
                                            </div>
                                            <div *ngIf="(card | castType: 'IBoughtProduct').size === 7">
                                                Размер: <span class="borderElement">XXXL</span>
                                            </div>
                                        </div>
                                        <div class="amount">
                                            Количество: <span
                                            class="borderElement">{{(card | castType: 'IBoughtProduct').amount}}</span>
                                        </div>
                                    </div>
                                    <div class="valueTextInformation valueTextInformation__Request"
                                         *ngIf="card.type === 'IAcceptedRequest'">
                                        <div class="comment">{{(card | castType: 'IAcceptedRequest').comment}}</div>
                                        <div class="description"
                                             *ngIf="(card | castType: 'IAcceptedRequest').description">
                                            <div class="better">
                                                Комментарий: {{(card | castType: 'IAcceptedRequest')?.description}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="valueTextInformation valueTextInformation__Request"
                                         *ngIf="card.type === 'IRejectedRequest'">
                                        <div class="comment">{{(card | castType: 'IRejectedRequest').comment}}</div>
                                        <div class="description">
                                            <div class="better">
                                                Комментарий: {{(card | castType: 'IAcceptedRequest')?.description}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="valueTextInformation valueTextInformation__Request"
                                         *ngIf="card.type === 'IReceivedGift'">
                                        <div class="description">
                                            <div class="better">
                                                Комментарий: {{(card | castType: 'IReceivedGift').comment}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="valueContent valueContent__rightSide">
                                    <div class="informationFlex">
                                        <div class="data">{{card.date | date : 'dd.MM.yyyy'}}</div>
                                        <div class="coinsWrapper" *ngIf="card.type === 'IAcceptedRequest'">
                                            <ul class="coins coins__green">
                                                <li class="wrapper_num">
                                                    + {{(card | castType: 'IAcceptedRequest').price}}
                                                </li>
                                                <li>
                                                    <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                                         alt="greenBlockCoins">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="coinsWrapper" *ngIf="card.type === 'IDeposit'">
                                            <ul class="coins coins__green">
                                                <li class="wrapper_num">
                                                    + {{(card | castType: 'IDeposit').price}}
                                                </li>
                                                <li>
                                                    <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                                         alt="greenBlockCoins">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="coinsWrapper" *ngIf="card.type === 'IReceivedGift'">
                                            <ul class="coins coins__green">
                                                <li class="wrapper_num">
                                                    + {{(card | castType: 'IReceivedGift').price}}
                                                </li>
                                                <li>
                                                    <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                                         alt="greenBlockCoins">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="coinsWrapper" *ngIf="card.type === 'IBoughtProduct'">
                                            <ul class="coins coins__black">
                                                <li class="wrapper_num">
                                                    - {{(card | castType: 'IBoughtProduct').price | castTypeNumber}}
                                                </li>
                                                <li>
                                                    <img src="../../../../assets/images-main-page/blackCoins.svg"
                                                         alt="black">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="coinsWrapper" *ngIf="card.type === 'ISentGift'">
                                            <ul class="coins coins__black">
                                                <li class="wrapper_num">
                                                    - {{(card | castType: 'ISentGift').price | castTypeNumber}}
                                                </li>
                                                <li>
                                                    <img src="../../../../assets/images-main-page/blackCoins.svg"
                                                         alt="black">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
