img {
    width: 100%;
}

.wrapper {
    background-color: #1C1B1B;
    //height: 100vh;
    .banner {
        width: 100%;
    }

    .content {
        background-color: #1C1B1B;
        height: 100vh;
    }
}


//добавить active  в случае переключения на другие страницы - речь про МЕРЧ ПРАВИЛА
