@import "../../../usedCSS/fieldFindUser.scss";
@import '~@taiga-ui/core/styles/taiga-ui-local';

.template {
    display: flex;
    align-items: center;
}
.avatar {
    margin: 0 0.2em;
}

.control{
    opacity: 0.7;
}

.button{
    padding: 0.2em 0;
    letter-spacing: 0.05em;

    &[disabled]{
        background-color: #B5FCE5;
        color: #888888;
    }
}


