<div class="wrapper">
    <div class="value">
        <div class="title">СОТРУДНИК</div>
        <div class="content">
            <input type="text"
                   placeholder="Фамилия Имя Отчество"
            >
        </div>
    </div>
    <div class="value">
        <div class="title">UCoins</div>
        <div class="content"><input type="text"
                                    placeholder="Количество койнов "
        ></div>
    </div>
    <div class="value">
        <div class="title">АКТИВНОСТЬ</div>
        <div class="content"><input type="text"
                                    placeholder="Напишите что-нибудь..."
        ></div>
    </div>
    <div class="value">
        <div class="title">ИСТОРИЯ</div>
        <div class="content">Разверните карточку, чтобы увидеть историю сотрудника</div>
    </div>
</div>
