<div class="wrapper">
    <form [formGroup]="writePers"
          (ngSubmit)="onSubmit()">
        <div class="value">
            <div class="title">СОТРУДНИК</div>
            <div class="content">
                <tui-multi-select
                    *tuiLet="items$ | async as items"
                    #component
                    tuiTextfieldExampleText="Фамилия Имя Отчество"
                    class="control inputField inputField__name"
                    [tuiTextfieldLabelOutside]="true"
                    [expandable]="true"
                    [formControl]="testValue"
                    [tuiDropdownMaxHeight]="180"
                    (searchChange)="onSearchChange($event)"
                    tuiTextfieldSize="s"
                >Фамилия Имя Отчество
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="items | tuiHideSelected : component "
                        [itemContent]="itemContent"
                    ></tui-data-list-wrapper>
                </tui-multi-select>

                <ng-template
                    #itemContent
                    let-data
                >
                    <div class="template">
                        <tui-avatar
                            size="xs"
                            class="avatar"
                            [avatarUrl]="data.photo"
                            [text]="data.toString()"
                        ></tui-avatar>
                        {{data}}
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="value">
            <div class="title title__coins">UCoins <img src="../../../assets/images-main-page/greenBlockCoins.svg"
                                                        alt="greenBlockCoins"></div>
            <div class="content"><input type="number"
                                        placeholder="Количество койнов "
                                        class="inputField"
                                        formControlName="coins"
            ></div>
        </div>
        <div class="value">
            <div class="title">АКТИВНОСТЬ</div>
            <div class="content">
                <input type="text"
                       placeholder="Напишите что-нибудь..."
                       class="inputField"
                       formControlName="activity"
                >
                <button type="submit" class="button" [disabled]="writePers.invalid">НАЧИСЛИТЬ</button>
            </div>
        </div>
    </form>
    <div class="value">
        <div class="title">ИСТОРИЯ</div>
        <div class="content">Разверните карточку, чтобы увидеть историю сотрудника</div>
    </div>
</div>
