@import "../../../usedCSS/fieldFindUser.scss";
@import '~@taiga-ui/core/styles/taiga-ui-local';

.template {
    display: flex;
    align-items: center;
}
.avatar {
    margin: 0 0.2em;
}

.control{
    opacity: 0.7;
}


