<div class="wrapper">
    <img src="../../../assets/images-personal-area/blackLeftLeg.svg" alt="left leg of an octopus"
         class="decor left_leg">
    <img src="../../../assets/images-personal-area/blackRightLeg.svg" alt="right leg of an octopus"
         class="decor right_leg">
    <div class="grid">
        <div class="value_grid__account value_grid">
            <div class="content_item">
                <div class="figure">
                    <img src="../../../assets/images-personal-area/human.svg" alt="avatar">
                    <!--                <img class="imageCompanyItem" src="{{companyItem.logo}}" alt="rr"> будет так -->
                </div>
                <div class="nav">
                    <button class="button_value" routerLink="./data"  routerLinkActive="active-link">ЛИЧНЫЕ ДАННЫЕ</button>
                    <button class="button_value" routerLinkActive="active-link">ЗАКАЗЫ</button>
                    <button class="button_value" routerLinkActive="active-link">ИСТОРИЯ</button>
                    <button class="button_value" routerLinkActive="active-link">НАПИСАТЬ ОБ АКТИВНОСТИ</button>
                </div>
            </div>
        </div>
        <div class="value_grid__content value_grid">
            <div class="content_item">
                <p>
                    <router-outlet></router-outlet>
                </p>
            </div>
        </div>
    </div>
</div>

