
@import "usedCSS/null";

@mixin utils(){
    height: 5.1rem;
}


@font-face {
    font-family: "KarpaNuenPro";
    src: url("fonts/TypoforgeStudio-KapraNeueProRegularRounded.otf") format("woff2"),
    url("fonts/TypoforgeStudio-KapraNeueProRegularRounded.otf") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KarpaNuenPro";
    src: url("fonts/TypoforgeStudio-KapraNeueProMediumRounded.otf") format("woff2"),
    url("fonts/TypoforgeStudio-KapraNeueProMediumRounded.otf") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KarpaNuenPro";
    src: url("fonts/TypoforgeStudio-KapraNeueProLightRounded.otf") format("woff2"),
    url("fonts/TypoforgeStudio-KapraNeueProLightRounded.otf") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: KarpaNuenPro, Arial, sans-serif ;
    font-weight: 500;
}
