
@import "usedCSS/null";

@mixin utils(){
    height: 5.1rem;
}


@font-face {
    font-family: "KarpaNuenPro";
    src: url("fonts/TypoforgeStudio-KapraNeueProRegularRounded.otf") format("woff2"),
    url("fonts/TypoforgeStudio-KapraNeueProRegularRounded.otf") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KarpaNuenPro";
    src: url("fonts/TypoforgeStudio-KapraNeueProMediumRounded.otf") format("woff2"),
    url("fonts/TypoforgeStudio-KapraNeueProMediumRounded.otf") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "KarpaNuenPro";
    src: url("fonts/TypoforgeStudio-KapraNeueProLightRounded.otf") format("woff2"),
    url("fonts/TypoforgeStudio-KapraNeueProLightRounded.otf") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Black";
    src: url("fonts/roboto/Roboto-Black.ttf") format("truetype")
}

@font-face {
    font-family: "Roboto Bold";
    src: url("fonts/roboto/Roboto-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Roboto Light";
    src: url("fonts/roboto/Roboto-Light.ttf") format("truetype")
}

@font-face {
    font-family: "Roboto Medium";
    src: url("fonts/roboto/Roboto-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/roboto/Roboto-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Roboto Thin";
    src: url("fonts/roboto/Roboto-Thin.ttf") format("truetype")
}

body{
    font-family: KarpaNuenPro, Arial, sans-serif ;
    font-weight: 500;
}
