<div class="wrapper-router">
    <div class="wrapper">
        <div class="header">
            <a href="#" class="logo"><img src="../../../assets/images/logoUDVstore.svg" alt="logo UDVstor"></a>
            <nav class="header_nav">
                <nav class="header_nav-page">
                    <ul class="menu_top_page">
                        <li><a href="#" routerLinkActive="active-link" routerLink="./merch">
                            <div class="text">МЕРЧ</div>
                            <hr class="merch">
                        </a>
                        </li>
                        <li><a href="#" routerLinkActive="active-link" routerLink="./regulation">ПРАВИЛА
                            <hr class="rules">
                        </a>
                        </li>
                    </ul>
                </nav>
                <nav class="header_nav-icons">
                    <ul class="menu_top_icons">
                        <li class="li_cart"><a href="#"><img src="../../../assets/images-main-page/cart.svg"
                                                             alt="cart"></a></li>
                        <li class="li_gift">
                            <button (click)="openModel()" class="a-button"><img
                                src="../../../assets/images-main-page/gift.svg"
                                alt="gift"></button>
                        </li>
                        <li><a href="#" class="li_account" routerLink="./personal-area"><img
                            src="../../../assets/images-main-page/account.svg"
                            alt="account - octopus"></a></li>
                        <li>
                            <ul>
                                <li class="wrapper_num">
                                    {{user?.balance}}
                                </li>
                                <li>
                                    <img src="../../../assets/images-main-page/greenBlockCoins.svg"
                                         alt="greenBlockCoins">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </nav>
        </div>
    </div>
    <div class="modal-wrapper" id="modal-1">
        <div class="model">
            <div class="modelBody">
                <div class="mainTitle">
                    <div class="text">СДЕЛАТЬ ПОДАРОК</div>
                    <button><img src="../../../assets/images-main-page/cross.svg" alt="cross" (click)="closeModel()">
                    </button>
                </div>
                <form [formGroup]="writePers"
                      (ngSubmit)="onSubmit()">
                    <div class="value">
                        <div class="title">КОМУ</div>
                        <div class="content">
                            <input type="text"
                                   placeholder="Фамилия Имя Отчество"
                                   class="inputField inputField__name"
                                   formControlName="employee"
                            >
                        </div>
                    </div>
                    <div class="value">
                        <div class="title title__coins">UCoins <img
                            src="../../../assets/images-main-page/greenBlockCoins.svg"
                            alt="greenBlockCoins"></div>
                        <div class="content"><input type="text"
                                                    placeholder="Количество койнов "
                                                    class="inputField"
                                                    formControlName="coins"
                        ></div>
                    </div>
                    <div class="value">
                        <div class="title">КОММЕНТАРИЙ</div>
                        <div class="content">
                            <input type="text"
                                   placeholder="Напишите что-нибудь..."
                                   class="inputField"
                                   formControlName="comment"
                            >
                        </div>
                    </div>
                </form>
                <button (click)="onSubmit()" class="button" [disabled]="writePers.invalid">ОТПРАВИТЬ ПОДАРОК </button>
            </div>
        </div>
        <div class="modelBackground"></div>
    </div>

    <router-outlet></router-outlet>
</div>

