@import "../../../../usedCSS/model-popUp";
@import "../../../../usedCSS/admin-modals";


.wrapper {
    height: 100%;
    color: #1C1B1B;

    /*
    margin: 2rem;
    height: calc(100vh - 4rem - 5rem);
    overflow: auto;*/

    &::-webkit-scrollbar {
        width: 0;
    }

    .req-holder {
        padding: 1.5em;
    }

    .contentWrapper {
        overflow: auto;
        height: 81vh;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    #reg-message {
        .modelBody {
            background-color: #E8E8E8;
            color: #282829;
            border-radius: 1.7rem;
            margin-left: 50%;
            margin-top: 4.8rem;
            width: 18rem;
            height: 3.6rem;

            .text {
                font-family: "Roboto Medium", sans-serif;
                font-weight: 600;
                letter-spacing: 0.05em;
                text-align: center;
            }

            button {
                align-items: end;
                background-color: #E8E8E8;
                padding-top: 0.75em;
                margin-right: 1.4rem;
                margin-left: auto;
                display: block;
                height: 1.4em;

                img {
                    height: 0.6em;
                }
            }
        }
    }

}
