<div class="wrapper">

    <div class="btn-add-product">
        fffff
    </div>
    <div class="header-products-list">
        <div class="header-element">обложка</div>
        <div class="header-element">наименование</div>
        <div class="header-element">стоимость</div>
        <div class="header-element">количество</div>
        <div class="header-element">размер</div>
        <div class="header-element">действия</div>
    </div>
    <div class="products-list">
        <div class="grid-wrapper" *ngFor="let product of storageElements">
            <div class="color-card__grey color-card" *ngIf="!product?.is_visible">
                <div class="element-grid element-grid__image">
                    <img src="{{product?.photo}}" alt="image product">
                </div>
                <div class="element-grid">{{product?.name}}</div>
                <div class="element-grid">{{product?.price}}</div>
                <div class="element-grid">{{product?.generalAmount}}</div>
                <div class="element-grid" *ngIf="product.cells.length === 1">-</div>
                <div class="element-grid" *ngIf="product.cells.length > 1">{{product?.dimensionLine}}</div>
                <div class="element-grid element-grid__action ">
                    <div class="image" *ngIf="product?.is_visible">
                        <img src="../../../../assets/images-admin/store-action/visibleGoods.svg" alt="visibleGoods"
                             class="image-action">
                    </div>
                    <div class="image" *ngIf="!product?.is_visible">
                        <img src="../../../../assets/images-admin/store-action/invisibleGoods.svg" alt="invisibleGoods"
                             class="image-action">
                    </div>
                    <div class="image" *ngIf="!product?.is_visible">
                        <img src="../../../../assets/images-admin/store-action/changeProductWhite.svg"
                             alt="changeProduct"
                             class="image-action">
                    </div>
                    <div class="image" *ngIf="product?.is_visible">
                        <img src="../../../../assets/images-admin/store-action/changeProductGrey.svg"
                             alt="changeProduct"
                             class="image-action">
                    </div>
                    <div class="image">
                        <img src="../../../../assets/images-admin/store-action/deleteProduct.svg" alt="deleteProduct"
                             class="image-action">
                    </div>
                </div>
            </div>
            <div class="color-card__white color-card" *ngIf="product?.is_visible">
                <div class="element-grid element-grid__image">
                    <img src="{{product?.photo}}" alt="image product">
                </div>
                <div class="element-grid element-grid__name">{{product?.name}}</div>
                <div class="element-grid element-grid__price ">
                    <ul>
                        <li class="wrapper_num">
                            {{product?.price}}
                        </li>
                        <li>
                            <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                 alt="greenBlockCoins">
                        </li>
                    </ul>
                </div>
                <div class="element-grid element-grid__amount">{{product?.generalAmount}}</div>
                <div class="element-grid element-grid" *ngIf="product.cells.length === 1">-</div>
                <div class="element-grid element-grid__cells"
                     *ngIf="product.cells.length > 1">{{product?.dimensionLine}}</div>
                <div class="element-grid element-grid__action ">
                    <div class="image">
                        <img *ngIf="product?.is_visible"
                             src="../../../../assets/images-admin/store-action/visibleGoods.svg" alt="visibleGoods"
                             class="image-action">
                        <img *ngIf="!product?.is_visible"
                             src="../../../../assets/images-admin/store-action/invisibleGoods.svg" alt="invisibleGoods"
                             class="image-action">
                    </div>
                    <div class="image" (click)="openModel('editProduct', product)">
                        <img *ngIf="!product?.is_visible"
                             src="../../../../assets/images-admin/store-action/changeProductWhite.svg"
                             alt="changeProduct"
                             class="image-action">
                        <img *ngIf="product?.is_visible"
                             src="../../../../assets/images-admin/store-action/changeProductGrey.svg"
                             alt="changeProduct"
                             class="image-action">
                    </div>

                    <div class="image" (click)="openModel('deleteProduct', product)">
                        <img src="../../../../assets/images-admin/store-action/deleteProduct.svg" alt="deleteProduct"
                             class="image-action">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-wrapper" id="deleteProduct">
        <div class="model" (click)="closeModel('deleteProduct')">
            <div class="modal-container" (click)="handleClick($event)">
                <div class="modal-container2">
                    <div class="title">
                        Вы уверены, что хотите навсегда удалить
                        "{{elementForInteraction?.name}}" из магазина?
                    </div>
                    <div class="btn-action-container">
                        <button class="btn-action btn-action__cancel" (click)="closeModel('deleteProduct')">
                            Отмена
                        </button>
                        <button class="btn-action btn-action__confirm" (click)="deleteProduct('deleteProduct')">
                            Удалить из магазина
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modelBackground"></div>
    </div>

    <div class="modal-wrapper" id="editProduct">
        <div class="model" (click)="closeModel('editProduct')">
            <div class="center-modal-container" (click)="handleClick($event)">
                <div class="modal-container2">
                    <div class="header-modal-container">
                        <div class="header-modal">ИЗМЕНЕНИЕ ТОВАРА</div>
                        <div class="header-modal">
                            <img src="../../../../assets/images-main-page/cross.svg" alt="cross"
                                 (click)="closeModel('editProduct')">
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="content-flex-container"  *ngIf="elementForInteraction">
                            <div class="element-flex">
                                <div class="field-change">
                                    <label for="name">НАЗВАНИЕ</label>
                                    <input type="text" id="name" placeholder="{{elementForInteraction?.name}}">
                                </div>
                                <div class="field-change">
                                    <label for="price">
                                        UCoins <img src="../../../../assets/images-main-page/greenBlockCoins.svg"
                                                    alt="greenBlockCoins">
                                    </label>
                                    <input type="text" id="price" placeholder="{{elementForInteraction?.price}}">
                                </div>
                                <div class="field-change"
                                     *ngIf="elementForInteraction?.dimensionLine ; else uncountable">
<!--                                    <label for="quantityStock">КОЛИЧЕСТВО НА СКЛАДЕ </label>-->
<!--                                    <input type="text" id="quantityStock"-->
<!--                                           placeholder="{{elementForInteraction.cells[0].amount}}">-->
                                </div>
                                <ng-template #uncountable>
                                    <label for="quantityStockUncountable">КОЛИЧЕСТВО НА СКЛАДЕ </label>
                                    <input type="text" id="quantityStockUncountable"
                                           placeholder="{{elementForInteraction.cells[0].amount}}">
                                </ng-template>
                            </div>
                            <div class="element-flex">
                                <img src='{{elementForInteraction?.photo}}' alt="{{elementForInteraction?.name}}">
                            </div>
                        </div>
                        <div class="closerField">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button>СОХРАНИТЬ ИЗМЕНЕНИЯ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modelBackground"></div>
    </div>
</div>
