<div class="grey-backgr">
    <div class="rules-content">
        <h1>ВАЖНЫЕ ПРАВИЛА ПО НАЧИСЛЕНИЮ UCoins:</h1>

        <section class="rules-list">
            <article class="rules-starred">
                <img src="assets/images-main-page/star-green.svg">
                <div class="text">
                    Участие в мероприятии от лица Компании считается в качестве докладчика, либо архитектора
                    мероприятия. Участие в конференциях в качестве слушателя не считается внешней активностью.
                </div>
            </article>
            <article class="rules-starred">
                <img src="assets/images-main-page/star-green.svg">
                <div class="text">
                    Для начисления баллов необходимо написать об участии в активности сотрудник Х отдела маркетинга
                </div>
            </article>
            <article class="rules-starred">
                <img src="assets/images-main-page/star-green.svg">
                <div class="text">
                    Участие сотрудника в спортивных и развлекательных мероприятиях (Спартакиада Айтишников,
                    Ночной забег и т.д.), которые оплачиваются компанией, также не считаются внешней активностью.
                </div>
            </article>
            <article class="rules-starred">
                <img src="assets/images-main-page/star-green.svg">
                <div class="text">
                    Если в анонсе внутренней активности не указано, что за неё начисляются UCoins (участие в Laser Night
                    Run), то UCoins за неё не начисляются.
                </div>
            </article>
        </section>

        <h1>Для начисления юкоинов в соцсетях в любом посте/сториз должен быть хэштег #usscltd, название компании или
            ссылка на наш аккаунт:</h1>

        <section class="rules-list">
            <article class="rules-social">
                <img src="assets/images-main-page/social-instagram.svg">
                <div class="text">
                    <a href="aaa">@usscltd</a>
                </div>
            </article>
            <article class="rules-social">
                <img src="assets/images-main-page/social-vk.svg">
                <div class="text">
                    <a href="aaa">vk.com/ussc_group0</a>
                </div>
            </article>
            <article class="rules-social">
                <img src="assets/images-main-page/social-fb.svg">
                <div class="text">
                    <a href="aaa">facebook.com/USSCru/</a>
                </div>
            </article>

            <div class="sub-notice">
                Сториз с указанием компании должны быть закреплены, а посты должны быть открыты для всех
            </div>
        </section>

        <section class="rules-inside-list">

            <article class="inside-header">
                ПОЗИЦИЯ
            </article>
            <article class="inside-header">
                Ucoins
            </article>

            <article class="inside-white">
                <div class="text">
                    Закреплённые сториз о работе в во внешних соц. сетях
                </div>
            </article>
            <article class="inside-white">
                <ul class="money_label">
                    <li class="wrapper_num">
                        0.5
                    </li>
                    <li>
                        <img src="assets/images-main-page/greenBlockCoins.svg"
                             alt="greenBlockCoins">
                    </li>
                </ul>
            </article>

            <article class="inside-white">
                <div class="text">
                    Развлекательные/короткие посты/заметки/репосты о работе во внешних соц. сетях
                </div>
            </article>
            <article class="inside-white">
                <ul class="money_label">
                    <li class="wrapper_num">
                        1
                    </li>
                    <li>
                        <img src="assets/images-main-page/greenBlockCoins.svg"
                             alt="greenBlockCoins">
                    </li>
                </ul>
            </article>

            <article class="inside-white">
                <div class="text">
                    Информационные посты о работе/мероприятиях во внешних соц. сетях (Vkontakte, Instagram, Facebook)
                </div>
            </article>
            <article class="inside-white"
                     style="grid-row-start: span 2;">
                <ul class="money_label">
                    <li class="wrapper_num">
                        3
                    </li>
                    <li>
                        <img src="assets/images-main-page/greenBlockCoins.svg"
                             alt="greenBlockCoins">
                    </li>
                </ul>
            </article>

            <article class="inside-white">
                <div class="text">
                Отзыв в Дайджесте
                </div>
            </article>

            <article class="inside-white">
                <div class="text">
                Информационные посты/статья во внутренних ресурсах (Staff, Дайджест) - истории о походах, профильные
                статьи
                </div>
            </article>
            <article class="inside-white"
                     style="grid-row-start: span 4;">
                <ul class="money_label">
                    <li class="wrapper_num">
                        5
                    </li>
                    <li>
                        <img src="assets/images-main-page/greenBlockCoins.svg"
                             alt="greenBlockCoins">
                    </li>
                </ul>
            </article>

            <article class="inside-white">
                <div class="text">
                Отзывы о работе в Компании на сторонних ресурсах
                </div>
            </article>
            <article class="inside-white">
                <div class="text">
                Экспертный комментарий на запрос прессы
                </div>
            </article>
            <article class="inside-white">
                <div class="text">
                Помощь и участие в организации внутренних/внешних активностей
                </div>
            </article>

            <article class="inside-white">
                <div class="text">
                Идея и организация активности, одобренной руководством
                </div>
            </article>
            <article class="inside-white"
                     style="grid-row-start: span 3;">
                <ul class="money_label">
                    <li class="wrapper_num">
                        10
                    </li>
                    <li>
                        <img src="assets/images-main-page/greenBlockCoins.svg"
                             alt="greenBlockCoins">
                    </li>
                </ul>
            </article>

            <article class="inside-white">
                <div class="text">
                Профильный материал на внешних ресурсах (аналитика, обзор, тематическая статья)
                </div>
            </article>
            <article class="inside-white">
                <div class="text">
                Участие в мероприятии от лица Компании (семинары, конференции, мероприятия для Заказчиков и т.д.)
                </div>
            </article>

            <article class="inside-white">
                <div class="text">
                Участие в нестандартных внутренних/внешних активностях, добрые дела, сумма которых начисляется по факту
                </div>
            </article>
            <article class="inside-white">
                <ul class="money_label">
                    <li class="wrapper_num">
                        ?
                    </li>
                    <li>
                        <img src="assets/images-main-page/greenBlockCoins.svg"
                             alt="greenBlockCoins">
                    </li>
                </ul>
            </article>

        </section>

    </div>
</div>
