<div class="grey-backgr">
    <div class="rules-content">
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
        dddddddddd <br>
    </div>
</div>
